<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="KrystalBall Automation Suite">

   <listeners>
    <listener class-name="KrystalBall.app.utils.TestListener"/>
   </listeners>

    <test name="Regression Tests">

        <classes>
            <class name="KrystalBall.app.tests.LandingPageTest"/>
            <class name="KrystalBall.app.tests.AlcoholTypesTest"/>
            <class name="KrystalBall.app.tests.LoginPopupTest"/>
            <class name="KrystalBall.app.tests.ContinueWithoutAccountTest"/>
            <class name="KrystalBall.app.tests.SearchValidProductTest"/>
            <class name="KrystalBall.app.tests.SearchInvalidProductTest"/>
            <class name="KrystalBall.app.tests.EmptyLoginValidationTest"/>
            <class name="KrystalBall.app.tests.InvalidLoginTest"/>
        </classes>

    </test>

</suite>