<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SmartPad Test Suite">

    <test name="SmartPad Functional Tests">

        <classes>
            <class name="KrystalBall.app.tests.LandingPageTest"/>
            <class name="KrystalBall.app.tests.AlcoholTypesTest"/>
            <class name="KrystalBall.app.tests.LoginPopupTest"/>
            <class name="KrystalBall.app.tests.ContinueWithoutAccountTest"/>
            <class name="KrystalBall.app.tests.InvalidLoginTest"/>
            <class name="KrystalBall.app.tests.SearchValidProductTest"/>
            <class name="KrystalBall.app.tests.SearchInvalidProductTest"/>
            <class name="KrystalBall.app.tests.EmptyLoginValidationTest"/>
        </classes>

    </test>

</suite>